

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/StyleSheet.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/Content/100px-Mercury_in_color_-_Prockter07-edit1-20141207-favicon.ico" />
    <script src="~/Scripts/JavaScript.js"></script>
    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <title>Portfolio of an Explorer</title>
    @RenderBody()
    
</head>
<body>
    <div>
    
        <div id="title" class="slide header">

            <div id="slidedown">
                <h1>
                    <br/>
                    Brandon Haller
                </h1>
                <img id="myphoto" src="~/Content/200px-full_moon1.jpeg" />
            </div>
                
            <div id="slidein">
                <br/>
                <br/>
                <br/>
                
                <h2>We shall not cease from exploration, and the end of all our exploring will be to arrive where we started and know the place for the first time. -TS Elliot</h2>    
            </div>
            <br />
            @*<br />
            <br />*@
            <ul id="jumpnav">
                <li class="grow"><a href="#programmer">Programmer</a></li>
                <li class="grow"><a href="#writer">Writer</a></li>
                <li class="grow"><a href="#explorer">Explorer</a></li>
                <li class="grow"><a href="#thinker">Thinker</a></li>
                <li class="grow"><a href="#resume">Resume</a></li>
                <li class="grow"><a href="#contact">Contact</a></li>
            </ul>
        </div>

        <div id="slide1" class="slide">
            <div class="title">
                    <h1><a Name="programmer">The Programmer</a></h1>
                    <p>When I was kid, I built a wind-tunnel with my father to test the aerodynamics of various wing designs. From wetting the balsa wood, to bending it slowly over the internal struts over the course of days, it was a labor of love.</p>
                    <p>Programming is a natural extension of this desire to create. It is a never ending process that necessitates an unyielding desire to learn. Over the course of the last few months, I have developed competency in C#, MySQL, Javascript, jQuery, HTML5, and CSS3.</p>
                    <p>Recently, I built a version of FlappyBirds using C#, and improved upon it, enhancing gameplay and mechanics. If this is what I can do only after six weeks, imagine what I can do for your company in one year.</p>
                    <p>Additional examples of my work can be downloaded below.</p>
                    <ul id="programs">
                    <li><a class="grow" id="showpictureoffindthecheese" href="https://github.com/B-Haller/Program5Solutions/blob/master/FindTheCheeseII/FindTheCheeseII/Program.cs" download>&hearts;CheeseNibbler</a></li>
                    <li><a class="grow" id="showpictureofhyperspace" href="https://github.com/B-Haller/HyperSpace/blob/master/Hyperspace/Hyperspace/Program.cs" download>&spades;Hyperspace</a></li>
                    <li><a class="grow" id="showpictureofrealestate" href="https://github.com/B-Haller/CSV-RealEstateData/blob/master/CSV-RealEstate/Program.cs" download>&diams;CSV California Real Estate</a></li>
                    <li><a class="grow" id="showpictureofbouncybird" href="https://github.com/AndreaRael/TeamFlappyBird/blob/master/FlappyBird/FlappyBird/Program.cs" download>&clubs;Bouncy Bird</a></li>
                    </ul>
            </div>
            <iframe id="programmingpic" src="~/Content/bouncybird.txt"></iframe>
        </div>
        
        

        <div id="slide2" class="slide">
            <div class="title">
                <h1><a name="writer">The Writer</a></h1>
                <p>I write because I can not avoid it. It nips at me while I sleep, like a cold draft that has found its way through the floorboards. I write to entertain, to slip away, to peel back the world and expose its sinews and bones. Like programming, I write to build. Whether commercially, or recreationally, I can communicate in effective and precise prose, or step gingerly on language with a flourish.</p>
            </div>
            <img src="~/Content/DSC_0850.jpg" />
            <img src="~/Content/995476_153531461515487_1716792272_n.jpg" />
        </div>

        <div id="slide3" class="slide">
            <div class="title">
                <h1><a name="explorer">The Explorer</a></h1>
                <p>I've been bitten by a Bengal tiger in Thailand, swam with whale sharks off the coast of Mexico, survived Hurricane Katrina, eaten silk worm pupas in South Korea, caught alligators in the bayous of Louisiana, camped in the outback of Australia, flown a plane over New Orleans.</p>
                <p>And that's just the tip of the iceberg.</p>
            </div>
            <img id="rightpic" src="~/Content/wallhaven-118826.jpg" />
        </div>

        <div id="slide5" class="slide">
            <div class="title">
                <h1><a Name="thinker">The Thinker</a></h1>
                <p>Whether it be learning a new language like Korean, or teaching myself how to code, I live to learn. I strive to better myself, to question, to push boundaries, and to expand my mind. I'm currently teaching myself about Google APIs and Financial Markets.</p>
            </div>
        </div>

        <div id="slide6" class="slide">
            <h1><a Name="resume">Resume</a></h1>
                <iframe id="resume" src="~/Content/Resume%20-%20Brandon%20Haller-page-001.jpg"></iframe>           
        </div>

        <div id="slide4" class="slide header">
            <h1><a Name="contact">Contact</a></h1>
            <div id="slidein">
            <ul id="contact">
                <li>Email: haller.brandon.j@gmail.com</li>
                <li>Phone: (518) 222 -1651</li>
                <li>Github: <a href="http://github.com/B-Haller">github.com/B-Haller</a></li>
            </ul>
            </div>
        </div>
        </div>
        
</body>
</html>
